body{
    margin:0;
    font-family:Segoe UI;
    background:url("bg.jpg") center/cover fixed;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:rgba(0,0,0,0.4);
}

.logo span{color:#00c6ff}

nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
}
nav a:hover {
    text-decoration: underline;
}

.page-title{
    text-align:center;
    margin:40px 0;
    font-size:40px;
}

.category{
    margin:10px 20px 10px;
}

.books{
    display:flex;
    gap:30px;
    padding:10px 60px;
    flex-wrap:wrap;
    backdrop-filter:blur(12px);
    flex-wrap: nowrap;
    overflow-x: auto;

}

.book{
    background:rgba(0,0,0,0.4);
    padding:12px;
    border-radius:15px;
    text-align:center;
    width:150px;
}

.book img{
    width:100%;
    height:250px;
    border-radius:10px;
    transition: transform 0.4s ease;
}
.book:hover img {
  transform: scale(1.1);
}
.book:hover {
  outline: 2px solid #00c6ff;
  outline-offset: -6px;
}
.btn{
    display:block;
    margin-top:10px;
    padding:8px;
    background:#f1e0c6;
    color:rgb(67, 58, 58);
    border-radius:20px;
    text-decoration:none;
    font-size:14px;
}
.footer {
  background:rgba(0,0,0,0.4);
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  flex-wrap: wrap;
}

.footer-about {
  width: 60%;
}

.footer-about h3,
.footer-contact h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  color: #d1d1d1;
}

.footer-contact {
  width: 30%;
  text-align: right;
}

.social-icons a {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: #444;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.3s;
  font-size: 16px;
}

.social-icons a:hover {
  background: #00bcd4;
}

.footer-bottom {
  background-color: #a9a9a9;
  color: #000;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
