* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #00c6ff;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    height: 100vh;
    background: url('bg.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(255, 255, 255, 0.15);   /* transparent glass */
    padding: 50px;
    width: 80%;
    border-radius: 25px;
    text-align: center;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

.overlay h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.buttons .btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 0 10px;
    background: #00c6ff;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.buttons .btn:hover {
    background: white;
}
